<nav class="about-us-nav">
    <ul class="about-us-menu">
        <li><a class="menu-text menu-history menu-active" href="/aboutus/history">Historia</a></li>
        <li><a class="menu-text menu-policy" href="/aboutus/policy">Policy</a></li>
        <li><a class="menu-text menu-accessibility" href="/aboutus/accessibility">Tillgänglighet</a></li>
        <li><a class="menu-text menu-faq" href="/aboutus/faq">FAQ</a></li>
    </ul>
</nav>