.movies {
    background-color: $secondary-color;
    color: $third-color;
    font-family: $font-choice;
    box-sizing: inherit;
    padding: 40px 0px 40px 0px;

    text-align: center;
    align-items: center;

    .movies-textBox {
        margin-bottom: 2rem;
    }

    .paper-container {
        position: relative;
        margin-top: 20rem; 

        .paper::before {
            content: "";
            position: absolute;
            left: 45px;
            height: 100%;
            width: 2px;
            background: rgba(255,0,0,0.4);
        }
    
        .paper {
            position: absolute;
            height: 550px;
            width: 450px;
            background: white; 
            margin: -275px -225px;
            left: 50%;
            top: 45%;
            box-shadow: 0px 0px 5px 0px #888;
       
           .paper-lines {
               margin-top: 40px;
               height: calc(100% - 40px);
               width: 100%;
               background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
           }
           
           .paper-text {
               position: absolute;
               top: 74px;
               left: 5px;
               bottom: 10px;
               right: 10px;
               line-height: 25px;
               overflow: hidden;
               outline: none;
               opacity: 0.9;
           }
           
           .paper-hole {
               position: absolute;
               left: 10px;
               height: 25px;
               width: 25px;
               border-radius: 50%;
               background-color: white;
               box-shadow: inset 0px 0px 2px 0px gray;
           }
           
           .paper-hole-1 {
               top: 10%;
           }
           .paper-hole-2  {
               top: 50%;
           }
           .paper-hole-3  {
               bottom: 10%;
           }  
   }
    ul {
        list-style-type: none;
    }
}
}



