
<nav class="about-us-nav">
    <ul class="about-us-menu">
        <li><a class="menu-text menu-history menu-active" href="#">Historia</a></li>
        <li><a class="menu-text menu-policy" href="#">Policy</a></li>
        <li><a class="menu-text menu-accessibility" href="#">Tillgänglighet</a></li>
        <li><a class="menu-text menu-faq" href="#">FAQ</a></li>
    </ul>
</nav>

<div class="about-us-space">
    <%- include("./partials/aboutus/aboutus-accessibility.ejs") %>
    <%- include("./partials/aboutus/aboutus-faq.ejs") %>
    <%- include("./partials/aboutus/aboutus-history.ejs") %>
    <%- include("./partials/aboutus/aboutus-policy.ejs") %>
</div>

<script type="module" src="/js/pages/aboutus.js"></script>
<script src="https://kit.fontawesome.com/955d716fd8.js" crossorigin="anonymous"></script>
