<div class="movies">
    <h3>Please Select a Movie</h3>
    <p>Because of popular demand we are currently showing some of the best movies ever made and the list will be updated continuously throughout the year</p>
    <p>So tell your friends and seaze the opportunity and watch e.g. The Shawshank Redemption like it was intended, on the big screen!.</p>
    <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                <a href="/movies/<%= movie.id%>"</a>
                <%= movie.attributes.title%>
            </li>
        <% }); %>      
    </ul>
</div>



