<div class="movies">
    <a class="backMovie" href="/movies">Back to movie selection</a>
    <h1><%= movie.attributes.title %></h1>
    <%- markdown(movie.attributes.intro) %>
    <img src="<%= movie.attributes.image.url %>"></img>
</div>


