<div>
    <a href="/movies">Back to movie selection</a>
    <h1><%= movie.attributes.title %></h1>
    <p><%= movie.attributes.intro %></p>
    <img src="<%= movie.attributes.image.url %>">
</div>

<script src="https://kit.fontawesome.com/955d716fd8.js" crossorigin="anonymous"></script>
