<div class="movies">
    <h3>Please Select a Movie</h3>
    <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                <a href="/movies/<%= movie.id%>"</a>
                <%= movie.attributes.title %>
            </li>
        <% }); %>      
    </ul>
</div>



